build/
src/ursidae

.vs
.vscode/
out
libUrsidae.a


# CMake Ignore 

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

#Docs Ignore
/docs/_build
docs/Doxyfile.in.bak
